@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
}
.loader {
	width: 150px;
	height: 150px;
	background-color: var(--tw-ring-color);
	border-radius: 50%;
	position: relative;
	box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset, 0 5px 12px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 45%;
	top: -40%;
	background-color: #fff;
	animation: wave 5s linear infinite;
}
.loader:before {
	border-radius: 30%;
	background: rgba(255, 255, 255, 0.4);
	animation: wave 5s linear infinite;
}
@keyframes wave {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.scale-down-center {
	-webkit-animation: scale-down-center 2s linear both infinite;
	animation: scale-down-center 2s linear both infinite;
}

@-webkit-keyframes scale-down-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1);
	}
}

@keyframes scale-down-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1);
	}
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #388ff0;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
